
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg , #ff008e 0% , #3a78b7 50% ,#000000 50%, #607d8b 100% );
   /* filter: hue-rotate(120deg); */
}
.box{
    position: relative;
    padding: 50px;
    width: 360px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba();
}